In [9]:
#run this code to read data 
library(tidyverse)

players_data <- read.csv("data/players.csv") |>
    select(name, gender, Age, played_hours, experience, subscribe, -hashedEmail, -gender) |>
    rename(age = Age) |>
    arrange(age)

players_data

    name      age played_hours experience subscribe
1   Morgan     9   30.3        Pro         TRUE
2   Zane      10    3.6        Regular     TRUE
3   Rafael    11    2.9        Amateur     TRUE
4   Gray      12    0.5        Pro         TRUE
5   Kyrie     14   17.2        Amateur     TRUE
6   Carmen    14    0.2        Regular     TRUE
7   Ophelia   15    0.1        Regular     TRUE
8   Hayden    15    0.1        Pro         TRUE
9   Delara    16  150.0        Amateur     TRUE
10  Bianca    16    0.1        Veteran     TRUE
11  Milo      16    0.0        Amateur     TRUE
12  Christian 17    3.8        Veteran     TRUE
13  Blake     17    0.0        Veteran    FALSE
14  Adrian    17    0.0        Amateur     TRUE
15  Daniela   17    0.0        Pro         TRUE
16  Niamh     17    0.0        Veteran     TRUE
17  Elodie    17    0.0        Beginner    TRUE
18  Xander    17   48.4        Amateur     TRUE
19  Marley    17    0.5        Amateur     TRUE
20  Anastasia 17    0.1        Amateur    FALSE
21  Leah      17    1.0        Beginner    TRUE
22  Ren       17    0.0        Beginner    TRUE
23  Iman      17    0.0        Regular     TRUE
24  Farid     17    0.0        Amateur     TRUE
25  Kennedy   17    0.2        Amateur     TRUE
26  Ishaan    17    0.0        Veteran     TRUE
27  Vivian    17    0.0        Amateur     TRUE
28  Winslow   17    5.6        Regular     TRUE
29  Yvette    17    0.1        Veteran     TRUE
30  Winston   17    0.1        Veteran     TRUE
⋮   ⋮         ⋮   ⋮            ⋮          ⋮
167 Taylor    24   0.0         Beginner    TRUE
168 Sebastián 24   2.1         Amateur    FALSE
169 Sarah     25   1.5         Beginner    TRUE
170 Aiden     25   1.4         Veteran    FALSE
171 Padma     25   0.0         Pro         TRUE
172 Jabari    26   0.6         Beginner    TRUE
173 Jia       26   0.0         Amateur     TRUE
174 Haider    26   0.0         Amateur    FALSE
175 Radwan    26   1.0         Amateur    FALSE
176 Isidore   27  12.5         Veteran     TRUE
177 Gemna     27   0.2         Amateur     TRUE
178 Ibrahim   27   2.0         Beginner    TRUE
179 Kendall   28   0.6         Regular     TRUE
180 Akira     28   0.0         Beginner   FALSE
181 Bodhi     32   0.1         Amateur    FALSE
182 Amelia    32   1.8         Beginner   FALSE
183 Vasco     33   0.0         Amateur    FALSE
184 Aurora    37   0.2         Beginner   FALSE
185 Edward    38   0.2         Veteran     TRUE
186 Jude      42   0.0         Beginner   FALSE
187 Gabriela  44   0.1         Veteran     TRUE
188 Yosef     45   0.1         Amateur    FALSE
189 Selena    46   0.0         Veteran    FALSE
190 Natalie   47   0.1         Amateur     TRUE
191 Dante     49  18.5         Regular     TRUE
192 Balthazar 50   0.0         Regular    FALSE
193 Dylan     57   0.0         Amateur    FALSE
194 Andy      58   0.3         Regular     TRUE
195 Devin     NA   0.1         Regular     TRUE
196 Ahmed     NA   0.2         Pro         TRUE

In [11]:
#Compute mean value for each qualitative variable
summary_mean <- players_data |>
    summarize(mean_age = mean(age, na.rm = TRUE),
              mean_played_hours = mean(played_hours, na.rm = TRUE)) 

summary_mean

  mean_age mean_played_hours
1 21.13918 5.845918

In [12]:
#Report mean values in table format 
summary_table <- summary_mean |>
    pivot_longer(cols = everything(), 
                 names_to = "variable", 
                 values_to = "mean")
summary_table

  variable          mean
1 mean_age          21.139175
2 mean_played_hours  5.845918